#___ua_parser_root {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

.ua-popper-root {
  position: absolute;
}

.ua-popper {
  padding: 10px;
  background: #3F51B5;
  color: snow;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}

.ua-popper-details {
  color: snow;
  font-weight: bold;
}